
    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="image">
            <button class="btn btn-success">Upload Image</button>
          </div>
        </div>
        <div class="col-md-8">
          <form>
            <div class="row">
              <div class="col-md-3">
                <label>Enable Product </label>
              </div>
              <div class="col-md-8">
                <label class="switch">
                  <input type="checkbox"/>
                  <span class="slider round"></span>
                </label>
              </div>
              <div class="col-md-3">
                <label>Title</label>
              </div>
              <div class="col-md-8">
                <input type="text" style="width: 100%;"/>
              </div>
              <div class="col-md-3">
                <label>price</label>
              </div>
              <div class="col-md-8 priceForm">
                <input type="text" />
                <label style="margin-right:3%">Duration</label>
                <select name="" id="">
                  <option value="Per Month">Per Month</option>
                  <option value="Per Year">Per Year</option>
                </select>
              </div>
              <div class="col-md-3"> 
                <label>Product Description</label>
              </div><div class="col-md-8">
                <textarea name="" id="" cols="30" rows="8"></textarea>
              </div>
              <div class="col-md-12 ">
                <button class="btn btn-info delete">Delete</button>
                <button class="btn btn-info ">Save</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>